.carousel-dots li.carousel-dots-active button:before {
        color: #99CCCC; 
    } 

    .carousel-dots {
        margin-top: 0;
        padding: 0;
        line-height: 0;
        li {
            margin: 0
        }
    }

    .carousel-dots li button:before{
        font-size: 2rem;
    }

    .carousel-row {
        position: relative;
        display: inline-block;
      }
      
      .carousel-row p {
        position: absolute;
        width: 100%;
        top: 10px;
        left: 10px;
        color: rgb(255, 255, 255);
      }